body {
  position:relative;
  width:100%;
  height:100%;
  margin:0;
}
#geosvg {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
svg svg {
  overflow:visible;
}
rect.utmZone {
  fill:#eee;
  stroke-width:1;
  stroke:1
}
rect.bg {
  fill:blue;
}
