/***********/
/* toolbar */
/***********/

#toolbar section.sidebar {
  display:flex;
  width:9rem;
  transition:all 300ms;
}
#toolbar section.sidebar button  {
  flex-grow:1;
}
#sidebar:not([hidden]) ~ #toolbar section.sidebar {
  width:20rem;
}

/***********/
/* sidebar */
/***********/

#sidebar header ul.breadcrumbs {
}
#sidebar header ul.breadcrumbs li{
  padding-top:.5rem;
}
#sidebar header ul.breadcrumbs li {
  display:block;
}
#sidebar ul li {
  display:flex;
  padding:.5rem 0;
}
#sidebar ul i {
  flex-grow:0;
  line-height:1rem;
  vertical-align:text-top;
  cursor:pointer;
}
#sidebar ul a {
  margin:0 .5rem;
  flex-grow:1;
  cursor:pointer;
}
#sidebar ul li.visible i.visibility_off,
#sidebar ul li.hidden i.visibility_on {
  display:none;
}
#sidebar ul li.hidden i.visibility_off,
#sidebar ul li.hidden .activateLayer{
  opacity:.5;
}

/***********/
/* overlay */
/***********/


/***********/
/* main ****/
/***********/
